
{% extends 'base.html' %}

{% block title %}
<title>Ubermelon - Shopping Cart</title>
{% endblock %}

{% block body %}

    {% if melon_list == [] %}
        <h2>Your cart is empty</h2>
    {% else %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
            {% for melon in melon_list %}
                <tr>
                    <td>{{ melon.common_name}}</td>
                    <td>{{ melon.quantity}}</td>
                    <td>${{ "{:.2f}".format(melon.price) }}</td>
                    <td>${{ "{:.2f}".format(melon.total) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Total: ${{ "{:.2f}".format(total) }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>
    <a href="/melons" class="btn btn-large btn-success">Keep Shopping</a>
    {% endif %}

{% endblock %}
